.project
    %h2.title
        = @project.title
    .description
        = @project.description

.controls
    .edit
        %a{:href => "/project/#{@project.nice_url}/edit"}
            Edit
    .delete
        %a{:href => "/project/#{@project.nice_url}/delete"}
            Delete
.issues
    .add-issue
        %a{:href => "/project/#{@project.nice_url}/issue/new"}
            Add Issue
    - @project.issues.each do |issue|
        .issue{:class => "#{issue.status.downcase}"}
            %a{:href => "/project/#{@project.nice_url}/issue/#{@project.issues.index(issue)}", :class => 'title'}
                =issue.title
        %hr
