.issue
    %h2.title
        = @issue.title
    .description
        = @issue.description
.comments
    .add-comment
        %form{:name => 'comment', :action => "/project/#{@project.nice_url}/issue/#{@project.issues.index(@issue)}/create_comment", :method => 'post'}
            .form-element.body
                %textarea{:id => 'body', :type => 'text', :name => "comment[body]", :rows => 8, :cols => 60}
            .form-element.save
                %input{:type => 'submit', :value => 'Save'}
    - @comments.each do |comment|
        .comment
            .body
                = comment.body
            .created_at
                = comment.created_at
                
.controls
    .edit
        %a{:href => "/project/#{@project.nice_url}/issue/#{@project.issues.index(@issue)}/edit"}
            Edit
    .delete
        %a{:href => "/project/#{@project.nice_url}/issue/#{@project.issues.index(@issue)}/delete"}
            Delete
